@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the room area, volume and paint requirements calculator.</p>
    <p>Please navigate to the appropriate calculator for your room using the top menu.</p>
</div>
